<div class="container">
  <div class="acciones-superiores">
    <button mat-raised-button color="primary" (click)="irMisReservas()">
      Mis Reservas
    </button>

    <button mat-raised-button color="warn" (click)="cerrarSesion()">
      Cerrar sesión
    </button>
  </div>

  <h2>Catálogo de libros disponibles</h2>

  <table mat-table [dataSource]="libros" class="mat-elevation-z8 full-width">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let libro">{{ libro.id }}</td>
    </ng-container>

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let libro">{{ libro.titulo }}</td>
    </ng-container>

    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef>ISBN</th>
      <td mat-cell *matCellDef="let libro">{{ libro.isbn }}</td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef>Stock</th>
      <td mat-cell *matCellDef="let libro">{{ libro.stock }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let libro">
        <button mat-raised-button color="accent" (click)="reservar(libro.id!)">
          Reservar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>